body {
    background-color: #f8f3f3;
}

.actionlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.actionlist li:before {
    font-family: FontAwesome;
    font-size: 9px;
    content: "\f054";
    color: #F5B54B;
    position: relative;
    margin-right: 5px;
    bottom: 2px;
}

.font-1em {
    font-size: 1em;
}

.no-link a:hover{
    text-decoration: none;
}