body {
    background-color: #f8f3f3;
    font-size: 12px;
}

a {
    color: #212529;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: white;
}

#bd-docs-nav h6 {
    font-size: 14px;
}

#bd-docs-nav .btn {
    font-size: 12px;
}

.actionlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.actionlist li:before {
    font-family: FontAwesome;
    font-size: 9px;
    content: "\f054";
    color: #F5B54B;
    position: relative;
    margin-right: 5px;
    bottom: 2px;
}

.font-1em {
    font-size: 1em;
}

.no-link a:hover{
    text-decoration: none;
}